* {
  margin: 0;
  padding: 0;
}

.file-css {
  background-color: aqua;
}

.char {
  display: inline-block;
  padding: 16px;
  margin: 16px;
  text-align: center;
  border: 1px solid black;
}

hr {
  margin: 5px 0;
}
